<div class="notification">
    <div class="notification-header">
        <h1><mat-icon>notifications</mat-icon>Notification</h1>
    </div>
    <div class="notification-section">
        <div class="notification-item" *ngFor="let notification of notifications">
            <div class="notification-image-and-content">
                <img mat-card-md-image src="../../assets/logo.png" class="logo-image" alt="Logo"/>
                <div class="notification-item-content">
                    <h3>{{ notification.title }}</h3>
                    <div>{{ notification.content }}</div>
            </div>
            </div>
            <div class="notification-item-status">
                <mat-icon>check_circle_outline</mat-icon>
            </div>
        </div>
    </div>
</div>
