.login-container {
  flex: 1;
  background: linear-gradient(to right, #f9f9f9, #a0ff8b);;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  width: fit-content;
}

mat-card-title {
  color: green;
  padding: 5%;
  font-size: 35px;
}

mat-form-field {
  width: 100%;
}

.submit-info {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.login-button {
  width: 100%
}

.signup-button {
  width: 100%
}

.header {
  display: flex;
  justify-content: center;
}

.logo-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-bottom: 16px;
}


.actions {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.submit-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.divider {
  flex-grow: 1;
  border-bottom: 1px solid #000; /* Adjust color as needed */
  margin: 0 10px; /* Adjust spacing as needed */
}

.login-button, .signup-button {
  margin: 0 10px; /* Adjust spacing as needed */
  width: 100%;
}

