h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .heroes-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .heroes-table th,
  .heroes-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .read-button,
  .update-button,
  .delete-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .read-button:hover,
  .update-button:hover,
  .delete-button:hover {
    background-color: #0056b3;
  }

  mat-toolbar {
    background-color: #0056b3;
  }

  mat-card {
    background-color: white;
    width: 100%;
  }

.welcome-card {
    width: 1250px;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    padding: 2%;
    color: rgb(1, 51, 190);
}

.create-budget-card {
  width: 300px;
  background-image: linear-gradient(120deg, #82fc79 0%, #00fc22 100%);
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  color: rgb(1, 51, 190);
}

.create-income-card {
  width: 300px;
  background-image: linear-gradient(120deg, #82fc79 0%, #00fc22 100%);
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  color: rgb(1, 51, 190);
}

.view-income-card {
  width: 300px;
  background-image: linear-gradient(120deg, #82fc79 0%, #00fc22 100%);
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  color: rgb(1, 51, 190);
}

.budget-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: blue; */
  margin-top: 20px;
  margin-bottom: 80px;
  align-items: center;
}

.search-bar {
  width: 60%;
}

.budget-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-budget-buttons {
  background-color: #00fc22;
}