<div>
    <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Budget Name:</label>
        <input type="text" id="budget_name" formControlName="name">
      </div>
      <div>
        <label for="income_category">Income Category:</label>
        <input type="number" id="income_category_id" formControlName="income_category">
      </div>
      <div>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" formControlName="amount">
      </div>
      <div>
        <label for="always_notify">Always Notify:</label>
        <input type="checkbox" id="always_notify" formControlName="always_notify">
      </div>
      <button type="submit" [disabled]="budgetForm.invalid">Submit</button>
    </form>
  </div>